v {% extends 'base.html' %}

{% block title %}{% block header %} Customer Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Customer {{ user.username }}!
<form action="add">
  Enter Stock Ticker: <input type="text" name="ticker"><br>
  <input type="submit">


</form>
<br>

{% for selected_ticker in selected_tickers %}
 {{selected_ticker}}

{% endfor %}
<br>
{% for selected_value in selected_values %}
{{selected_value}}

{% endfor %}


<li> <a href="{% url 'customers:stock'  %}">stock page</a></li>
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}