 {% extends 'base.html' %}

{% block title %} Your Stock Positions {% endblock %}

{% block content %}
  {% if user.is_authenticated %}

<div class="container">
    <div class="row">

        <div class="col">
 <h3>The total value of {{user.username}}'s portfolio is:  ${{portfolio_balance}}</h3>
        </div>
    <div class="col-sm-4">
<form action="{% url 'positions:update_all' %}" method="POST">
    {% csrf_token %}

    <input type="submit" value ="Get Updated Prices">

    </form>
        </div>
    </div>


<div class="row">

 <table class ="table">
  <thead>
  <th scope="col">Stock Ticker</th>
  <th scope="col">Number of Shares</th>
  <th scope="col"> Stock Value</th>
  <th scope="col"> Position Value</th>
  <th scope="col">View Details </th>
  <th scope="col"> Edit Share Number</th>

  </thead>
<tbody>
 {% for selected_position in selected_positions %}
<tr><td>
{{selected_position.selected_ticker}}
</td>

 <td>
 {{selected_position.selected_value}}
 </td>
    <td>
        ${{selected_position.stock_close_value}}
    </td>
    <td>
        ${{selected_position.position_value}}
    </td>
    <td>
        <button type = "button"> <a href="{% url 'customers:stock_details' selected_position.id %}">View Details</a></button>
    </td>
        <td>
            <button type="button"> <a href="{% url 'positions:edit' selected_position.id %}">Edit</a></button>
    </td>
{% endfor %}


</tr>

  </tbody>
</table>
 <br>
    </div>
    <div class="row">
        <h3>Search for a stock!</h3>
                 <form action="add">
  Enter Stock Ticker: <input type="text" name="ticker">
  <input type="submit">
        </form>

    </div>
</div>
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}