 {% extends 'base.html' %}

{% block title %}{% block header %} Customer Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Customer {{ user.username }}!


  <h2>Your Stock Positions</h2>
 <h3>The total value of your portfolio is:  ${{portfolio_balance}}</h3>
<table class ="table">
  <thead>
  <th scope="col">Stock Ticker</th>
  <th scope="col">Number of Shares</th>
  <th scope="col"> Stock Value</th>
  <th scope="col">View Details </th>

  </thead>
<tbody>
 {% for selected_position in selected_positions %}
<tr><td>
{{selected_position.selected_ticker}}
</td>

 <td>
 {{selected_position.selected_value}}
 </td>
    <td>
        {{selected_position.stock_close_value}}
    </td>

    <td>
        <a href="{% url 'customers:stock_details' selected_position.id %}">View Details</a>
    </td>
{% endfor %}


</tr>

  </tbody>
</table>
 <br>
 <h2>Search for a Stock!</h2>
<form action="add">
  Enter Stock Ticker: <input type="text" name="ticker"><br>
  <input type="submit">


</form>
<a href="{% url 'positions:index' %}">Add a Stock Position</a>
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}